@charset "utf-8";

* {
	font-family: sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: darkblue;
	background-color: lightgrey;	
}

.sel-element {
    padding: 10px;
    border-radius: 12px;
    margin: 20px 10px;
    border: 3px solid aliceblue;
}

.remove{
	background: none;
    border: none;
    color: red;
	cursor: pointer;
}

.remove:hover{
    background-color: whitesmoke;
}

input{
	background-color: whitesmoke;
    border: none;
}
