@charset "utf-8";

* {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: darkblue;
	background-color: lightgrey;	
}

.sel-element{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 12px
}

.remove{
	background: none;
    border: none;
    color: red;
	cursor: pointer;
}